In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('Data/Index_col.csv', sep=';', index_col=['Entreprise', 'Année'])
data

                  Ventes   Profits
Entreprise Année
Apple      2020       100       40
           2021       142      213
Microsoft  2020       500       59
           2021       230        8

In [17]:
data2 = pd.read_csv('Data/Index_col.csv', sep=';')
print(data2)

  Entreprise  Année  Ventes   Profits
0      Apple   2020      100       40
1      Apple   2021      142      213
2  Microsoft   2020      500       59
3  Microsoft   2021      230        8

In [22]:
print("Unique indexing:", data2.index.is_unique)
company_id = data2.Entreprise
data3 = data.copy()
data3.index = company_id
print(data3)
print("Unique indexing:", data3.index.is_unique)

Unique indexing: True
            Ventes   Profits
Entreprise
Apple           100       40
Apple           142      213
Microsoft       500       59
Microsoft       230        8
Unique indexing: False

In [25]:
unique_id = data2.Entreprise + data2.Année.astype(str)
data3.index = unique_id
print(data3)

               Ventes   Profits
Apple2020          100       40
Apple2021          142      213
Microsoft2020      500       59
Microsoft2021      230        8

In [40]:
data3

NameError: name 'Apple2020' is not defined

In [30]:
x = data2.query('Année == 2020').copy()
x

  Entreprise  Année  Ventes   Profits
0      Apple   2020      100       40
2  Microsoft   2020      500       59

In [3]:
mb = pd.read_csv("Data/microbiome_missing.csv", na_values=['?', -99999], nrows=20)
mb

             Taxon  Patient   Tissue   Stool
0       Firmicutes        1    632.0   305.0
1       Firmicutes        2    136.0  4182.0
2       Firmicutes        3      NaN   703.0
3       Firmicutes        4    408.0  3946.0
4       Firmicutes        5    831.0  8605.0
5       Firmicutes        6    693.0    50.0
6       Firmicutes        7    718.0   717.0
7       Firmicutes        8    173.0    33.0
8       Firmicutes        9    228.0     NaN
9       Firmicutes       10    162.0  3196.0
10      Firmicutes       11    372.0     NaN
11      Firmicutes       12   4255.0  4361.0
12      Firmicutes       13    107.0  1667.0
13      Firmicutes       14      NaN   223.0
14      Firmicutes       15    281.0  2377.0
15  Proteobacteria        1   1638.0  3886.0
16  Proteobacteria        2   2469.0  1821.0
17  Proteobacteria        3    839.0   661.0
18  Proteobacteria        4   4414.0    18.0
19  Proteobacteria        5  12044.0    83.0

In [4]:
mb.dropna()

             Taxon  Patient   Tissue   Stool
0       Firmicutes        1    632.0   305.0
1       Firmicutes        2    136.0  4182.0
3       Firmicutes        4    408.0  3946.0
4       Firmicutes        5    831.0  8605.0
5       Firmicutes        6    693.0    50.0
6       Firmicutes        7    718.0   717.0
7       Firmicutes        8    173.0    33.0
9       Firmicutes       10    162.0  3196.0
11      Firmicutes       12   4255.0  4361.0
12      Firmicutes       13    107.0  1667.0
14      Firmicutes       15    281.0  2377.0
15  Proteobacteria        1   1638.0  3886.0
16  Proteobacteria        2   2469.0  1821.0
17  Proteobacteria        3    839.0   661.0
18  Proteobacteria        4   4414.0    18.0
19  Proteobacteria        5  12044.0    83.0

         Taxon  Patient  Tissue  Stool
2   Firmicutes        3     NaN  703.0
8   Firmicutes        9   228.0    NaN
10  Firmicutes       11   372.0    NaN
13  Firmicutes       14     NaN  223.0